@charset "UTF-8";

* { box-sizing: border-box; }
body { margin: 0; background-color: rgb(243, 247, 248); }
#header {
	width: 768px;
	height: 52px;
	margin: 0 auto;
	padding: 9px 12px;
}
#header > #menu {	/* 삼지창 */
	background-image: url(https://assets.triple.guide/images/ico_navi_menu@4x.png);
  	background-size: cover;
    height: 24px;
    width: 24px;
    margin-top: 5px;
    margin-right: 16px;
    cursor: pointer;
}
#header2 {
	width: 768px;
	height: 147px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}
#header2 > div:nth-child(1) {	/* 큰 제목 */
	font-weight: bold;
    line-height: 36px;
    font-size: 28px;
    color: rgb(58, 58, 58);
}
#header2 > div:nth-child(2) {	/* 소제목 */
    margin-top: 8px;
    color: rgba(58, 58, 58, 0.5);
    font-size: 14px;
    font-weight: 500;
	line-height: 17px;
}
#main_img { width: 768px; height: 604px; margin: 0 auto; }
#main_img > img { width: 100%; }	/* 메인 이미지 */
#button { width: 768px; height: 47px; gap: 5px; margin: 40px auto 0; display: flex; }
#button > div {	/* 파란 박스 */
	width: 380px;
	font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    border-radius: 4px;
    padding: 14px 12px;
    border: 1px solid rgb(54, 143, 255);
    background-color: rgb(54, 143, 255);
    color: white;
    text-align: center;
    cursor: pointer;
}
#popup_bell {
	top: 55px;
	left: 809px;
}
#popup_bell::before {
	left: 86%;
}
#option_ready {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}
#option_ready > .header2 { width: 768px; min-height: 131px; text-align: center; margin: 0 auto; }
#option_ready > .header2 > div:nth-child(1) {	/* 아이콘 */
	width: 60px;
    height: 60px;
    margin: 20px auto 10px;
}
#option_ready > .header2 > div:nth-child(2) {	/* 큰제목 */	
	font-weight: bold;
    line-height: 36px;
    font-size: 28px;
    color: rgb(58, 58, 58);
}
#option_ready > .header2 > div:nth-child(3) {	/* 소제목 */
	line-height: 17px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(58, 58, 58, 0.5);
    margin-top: 8px;
}
#option_ready > #separator {	/* 준비중 파란 선 */
	width: 800px;
	height: 5px;
	margin: 50px auto;
	background-color: rgb(54, 143, 255);
}
.fl { float: left; }
.fr { float: right; }