@charset "UTF-8";

* { box-sizing: border-box; }
body { margin: 0; }
.header {
	width: 768px;
	height: 52px;
	margin: 0 auto;
	padding: 9px 12px;
}
.header > div:nth-child(1) {	/* 뒤로가기 */
	background-image: url(https://assets.triple.guide/images/btn-com-back@4x.png);
    background-size: cover;
    height: 34px;
    width: 34px;
    cursor: pointer;
    margin-left: -8px;
}
.header > div:nth-child(2) {	/* '1/5' */
	color: rgb(54, 143, 255);
    font-weight: bold;
    font-size: 13px;
    line-height: 1.2;
    margin-top: 8px;
    margin-right: 6px;
}
.header2 { width: 768px; min-height: 131px; text-align: center; margin: 0 auto; }
.header2 > div:nth-child(1) {	/* 아이콘 */
	width: 60px;
    height: 60px;
    margin: 20px auto 10px;
}
.header2 > div:nth-child(2) {	/* 큰제목 */	
	font-weight: bold;
    line-height: 36px;
    font-size: 28px;
    color: rgb(58, 58, 58);
}
.header2 > div:nth-child(3) {	/* 소제목 */
	line-height: 17px;
    font-size: 14px;
    font-weight: 500;
    color: rgba(58, 58, 58, 0.5);
    margin-top: 8px;
}
.city_list > div {
	width: 768px;
	min-height: 85px;
	margin: 40px auto 0;
	padding: 0 30px;
}
.city_list > div:last-child { margin-bottom: 140px; }
.city_list > div > div:nth-child(1) {	/* 일본 */
	color: rgb(58, 58, 58);
    font-weight: bold;
    margin: 0px 0px 14px;
    font-size: 14px;
    line-height: 1.2;
}
.city_list > div > div:nth-child(2) {	/* 도시 박스 전체 컨테이너 */
	width: 708px;
	min-height: 54px;
}
.city_list > div > div:nth-child(2) > div:NOT(:last-child) {	/* 각 도시 박스*/
	color: rgba(58, 58, 58, 0.6);
    background: rgba(58, 58, 58, 0.04);
    border: 1px solid rgba(58, 58, 58, 0.04);
    border-radius: 100px;
    font-weight: bold;
    width: 230px;
    height: 54px;
    text-align: center;
    line-height: 54px;
    margin-bottom: 8px;
    cursor: pointer;
}
.city_list > div > div:nth-child(2) > div:NOT(:last-child).on {
	color: rgb(54, 143, 255);
  		border: 1.5px solid rgb(54, 143, 255);
}
.city_list > div > div:nth-child(2) > div:NOT(:nth-child(3n)) {	
	margin-right: 8px;
}
.next {	/* 다음 파란 박스 */
	position: fixed;
	left: 50%;
    transform: translate(-50%, 0);
	bottom: 1px;
	width: 768px;
	height: 47px;
	margin: 85px auto 20px;
	font-weight: bold;
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    border-radius: 4px;
    padding: 14px 12px;
    border: 1px solid rgb(54, 143, 255);
    background-color: rgb(54, 143, 255);
    color: white;
    cursor: pointer;
}
.next:NOT(.on) { opacity: 0.3; }	/* 선택 안 했을 때 */
#separator {	/* 준비중 파란 선 */
	width: 800px;
	height: 5px;
	margin: 50px auto;
	background-color: rgb(54, 143, 255);
}
.fl { float: left; }
.fr { float: right; }