@charset "UTF-8";

* { box-sizing: border-box; }
body { margin: 0; }
#header { 
	position: relative;
	width: 980px; 
	height: 50px; 
	margin: 30px auto 20px; 
	text-align: center; 
}
#header > #x {
    margin-top: -50px;
    font-size: 20px;
    font-weight: bold;
    margin-right: -130px;
    cursor: pointer;
}
#header2 { width: 760px; height: 25px; margin: 0 auto; }
#header2 > div:nth-child(1) { width: 200px; height: 100%; font-size: 15px; font-weight: bold; }
#header2 > div:nth-child(2) { width: 90px; height: 100%; font-size: 15px; }
#header2 > div:nth-child(3) { width: 10px; height: 100%; font-size: 15px; color: red; margin-right: 5px; }
#content { 
	width: 760px; 
	min-height: 100px; 
	margin: 0 auto; 
	border: 1px solid rgb(239, 239, 239); 
}
#content > form > div:NOT(:last-child) { 
	border-bottom: 1px solid rgb(239, 239, 239); 
	align-items: center; 
	margin: 15px 0; 
	padding-bottom: 15px;
}
#content > form > div:last-child {
	align-items: center; 
	padding-bottom: 15px; 
}
#content .box_container > div:nth-child(1) {
	display: flex;
}
#content .box_container > div:nth-child(1) > div:nth-child(1) { width: 130px; margin-top: 6px; }
#content .box_container > div:nth-child(1) > div:nth-child(1) > span:nth-child(1) { /* 닉네임 */
	margin-left: 10px; 
	font-size: 15px; 
}
#content .box_container > div:nth-child(1) > div:nth-child(1) > span:nth-child(2) { /* '*' */
	font-size: 15px; 
	color: red; 
	margin-left: 5px;
}
#content .box_container > div:nth-child(1) > input[type="text"] { /* 입력 창 */
	width: 300px; 
	font-size: 15px;
	border: 1px solid rgb(239, 239, 239); 
}
#content .box_container > div:nth-child(1) > input[type="password"] { /* 입력 창 */
	width: 300px; 
	font-size: 15px;
	border: 1px solid rgb(239, 239, 239); 
}
#content .box_container > div:nth-child(1) > span:nth-child(3) { /* 글자 수 조건 */
	margin: 6px 0 0 20px; 
	font-size: 15px; 
}
#content .box_container .nickname_check, #content .box_container .id_check { /* 중복 확인 */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100px; 
	height: 33px; 
	margin-left: 20px; 
	border-radius: 20px; 
	background-color: black; 
	color: white; 
	font-size: 15px; 
	font-weight: 500;
	cursor: pointer;
}
#content .box_container > div:nth-child(2) {	/* 경고 메세지 */
	font-size: 13px;
	margin-left: 130px;
	color: #ff000099;
}
#content .box_container > div:nth-child(1) > .email, #content .box_container > div:nth-child(1) > .email_check {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px; 
	height: 33px; 
	margin-left: 20px; 
	border-radius: 20px; 
	background-color: lightgrey; 
	color: white; 
	font-size: 15px; 
	font-weight: 500;
	cursor: pointer;
}
#content .box_container > div:nth-child(1) > .email.on, #content .box_container > div:nth-child(1) > .email_check.on  {	/* 인증번호 발송, 확인 활성화 */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px; 
	height: 33px; 
	margin-left: 20px; 
	border-radius: 20px; 
	background-color: black; 
	color: white; 
	font-size: 15px; 
	font-weight: 500;
	cursor: pointer;
}
.fl { float: left; }
.fr { float: right; }