@charset "UTF-8";

* { box-sizing: border-box;}
body { 
	margin:0; 
	width:100%;
	height:100vh;
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url(https://triple.guide/intro/static/images/image_main.jpg);
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
#header {
	position:relative;
	width: 1200px;
	height: 50px;
	padding: 0 24px;
	margin: 0 auto;
}
#header > img:nth-child(1) {
	position: absolute;
	top: 15px;
	width: 57px;
  	height: 20px;
  	cursor: pointer;
}
#header > #menu {	/* 삼지창 */
	margin-top: 14px;
	width: 24px; 
	height: 24px;
	background:url(https://assets.triple.guide/images/header/ico_navi_menu_white@4x.png) center / 100%;
	cursor: pointer;
}
#main {
	width: 1200px;
	height: 522px;
	margin: 0 auto;
}
#main > h2 {
    font-size: 22px;
	margin-bottom: 24px;
	color: rgba(255,255,255,1);
	font-weight: 500;
    font-size: 22px;
    line-height: 1.2;
    margin-top: 225px;
	margin-left: 10px;
}
#main > h1 {
	font-size: 52px;
	color: rgba(255,255,255,1);
	margin-left: 10px;
	margin-bottom: 0;
	margin-top: 10px;
}
#popup_bell {
	top: 6%;
	left: 58%;
}
#popup_bell::before {
	left: 69%;
}
.fl { float: left;}
.fr { float: right;}