@charset "UTF-8";
* { box-sizing: border-box;}
body { margin:0; }
#header {
	width:100%;
	height:70px;
}
#header > img {
	width: 24px;
}
#header > img:nth-child(1) {	/* 뒤로가기 */
    margin-top: 20px;
	margin-left: 30px;
}
#header > span:nth-child(2) {	/* 내 저장 */
    margin-top: 26px;
    margin-left: 30px;
    font-size: 20px;
}
#header > #menu {	/* 삼지창 */
    margin-top: 20px;
	margin-right: 30px;
	cursor: pointer;
}
.main {
	width: 90%;
	margin: 50px auto 0;
	padding-bottom: 30px;
	padding-top: 30px;
	border-bottom: 1px solid rgba(58, 58, 58, 0.1);
}
.main > .myplace {
	width: 80%;
	margin-top: 11px;
	cursor: pointer;
}
.main > .myplace > h3:nth-child(1) {
	margin:0;
}
.main > .myplace > span:nth-child(2) {
 color: rgba(58, 58, 58, 0.9);
	font-size: 14px;
}
.main > .myplace > div:nth-child(3) > img {
	width: 15px;
	margin-right: -5px;
}
.main > .myplace > div:nth-child(3) > span {
    color: rgba(58, 58, 58, 0.5);
	font-size: 14px;
	margin-left: 2px;
}
.main > .myplace > span:nth-child(4) {
    color: rgba(58, 58, 58, 0.5);
	font-size: 14px;
	margin-left: 2px;
}
.main > .myplacepic {
	position:relative;
}
.main > .myplacepic > img:nth-child(1) {
	width: 80px;
 height: 110px;
 object-fit: cover;
 border-radius: 10px;
}
.main > .myplacepic > img:nth-child(2) {
    width: 20px;
 position: absolute;
 top: 8px;
 right: 7px;
}
.writememo {
	position:relative;
	width:90%;
	padding:20px;
	margin:0 auto;
	border-bottom: 5px solid rgb(245, 245, 245);
	cursor: pointer;
}
.writememo > img {
	width:20px;
}
.writememo > span {
	color: rgb(100, 150, 240);
	left: 50px;
	position: absolute;
	font-size: 16px;
	top: 21px;
}
.writememo > span.on {
	color: rgb(58,58,58);
	left: 50px;
	position: absolute;
	font-size: 16px;
	top: 21px;
}
#popup_creatememo {
	position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   width: 80%;
   height: 80%;
   z-index: 20;
   box-shadow: 0 18px 48px 0 #00000059;
   border-radius: 8px;
	text-align: center;
}
#popup_creatememo > div:nth-child(1) {
	margin: 30px;
    font-weight: bold;
    font-size: 25px;
}
#popup_creatememo > textarea:nth-child(2) {
    margin-top: 80px;
    margin-left: -80px;
    width: 97%;
    border: none;
    height: 602px;
    font-size: 20px; 
}
#popup_creatememo > div:nth-child(3) {
	align-items: center;
    display: flex;
    width: 100%;
    height: 58px;
    border-top: 1px solid rgba(58, 58, 58, 0.3);
	position: fixed;
   	bottom: 0;
}
#popup_creatememo > div:nth-child(3) > div {
	width: 50%;
	cursor: pointer;
}
#popup_creatememo > div:nth-child(3) > div:nth-child(1) {	/* 취소 버튼 */
	border-right: 1px solid rgba(58, 58, 58, 0.3);
    height: 50px;
   	line-height: 50px;
    color: rgba(58, 58, 58, 0.6);
    font-weight: bold;
    font-size: 19px;
}
#popup_creatememo > div:nth-child(3) > div:nth-child(2) {	/* 확인 버튼*/
	color: rgb(79, 140, 250);
    font-weight: bold;
    font-size: 19px;
}
#popup_bell {
	top: 55px;
	left: 72%;
}
#popup_bell::before {
	left: 86%;
}
.fl { float: left;}
.fr { float: right;}