@charset "UTF-8";

@charset "UTF-8";
* { box-sizing : border-box; }
body { margin:0; }
#header { width:100%; height:70px; }
#header > img {
	width: 24px;
}
#header > img:nth-child(1) {	/* 뒤로가기 */
    margin-top: 20px;
  	margin-left: 30px;
  	cursor: pointer;
}
#header > #menu {	/* 삼지창 */
    margin-top: 20px;
  	margin-right: 30px;
  	cursor: pointer;
}
#content {
	position: absolute;
	width: 450px;
	margin-left: 80px;
}
#content > #main {
    border-bottom: 1px solid rgba(58, 58, 58, 0.1);
    height: 100px;
    z-index: 1;
    position: relative;
    background-color: white;
}
#content > #main > p {
	font-weight: bold;
    font-size: 35px;
    margin: 35px 0 2px;
    color: rgba(58, 58, 58);
}
#content > #main > span {
	color: rgba(58, 58, 58, 0.9);
}
#content > .dayplan {
	padding: 30px 0;
    z-index: 1;
    position: relative;
    background-color: white;
}
#content > .dayplan > span:nth-child(1){
  		font-weight: bold;
}
#content > .dayplan > span:nth-child(2){
	color: rgb(189,189,189);
	font-weight: bold;
}
#content > .additem {
	display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: white;
    z-index: 1;
    position: relative;
    padding-top: 20px;
}
#content > .additem > div {	/* 장소추가 / 메모추가 */
	width:45%;
	border: 1px solid rgba(58,58,58,0.5);
    height: 40px;
  	line-height: 40px;
  	border-radius: 10px;
  	font-weight: bold;
  	cursor: pointer;
}
.item {  /* ① / 도쿄타워 / 관광명소 */
	min-height: 90px;
	cursor: pointer;
	position: relative;
}
.item.on {
	background-color: rgb(246, 249, 255);
}
.item > span {   /* ① */
	display: block;
	width: 26px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	color: white;
	font-weight: 800;
	border-radius: 50%;
	margin: 30px 16px 0 10px;
	z-index: 1;
    position: relative;
}
.item > span.purple {
	background-color: rgb(142, 96, 247);
}
.item > div:nth-child(2) {  /* 도쿄타워 관광명소 */
	background-color: white;
	border-radius: 6px;
	width: 390px;
	padding-left: 16px;
	height: 85px;
    margin-top: 7px;
    margin-right: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.item > div:nth-child(2) > h3 {   /* 도쿄타워 */
	margin-bottom: 0;
}
.item > div:nth-child(2) > p {   /* 관광명소 */
	color: rgb(188, 188, 188);
	font-weight: 600;
	margin-top: 5px;
}
.item > .btn_x, .memoitem > .btn_x {
	position: absolute;
    transform: translateY(-50%);
    top: 50%;
    right: 20px;
    font-size: 23px;
    line-height: 40px;
    font-weight: 600;
    color: red;
    display: none;
}
.item:hover > .btn_x, .memoitem:hover > .btn_x {
	display: block;
	cursor: pointer;
}
.memoitem {
	position: relative;
	min-height: 64px;
}
.memoitem > span {
	display: block;
	background-color: rgb(77, 142, 238);
	width: 9px;
	height: 9px;
	border-radius: 50%;
	margin: 26px 23px 0 20px;
	z-index: 1;
    position: relative;
}
.memoitem > div:nth-child(2) {
	color: rgb(90, 90, 90);
	background-color: white;
	border-radius: 6px;
	width: 390px;
	padding-left: 16px;
	height: 49px;
	line-height: 49px;
    margin-top: 7px;
    margin-right: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#vertical {
	width: 25.5px;
    position: absolute;
    height: 100%;
    border-right: 2px solid rgb(247, 247, 247);
}
.map_wrapper {
	position: sticky;
	left: 815px;
	width: 800px;
	height: 800px;
	top: 60px;
}
#map {
	top: 35px;
	width: 100%;
	height: 100%;
}
#popup_creatememo {
	position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80%;
    height: 80%;
    z-index: 20;
    box-shadow: 0 18px 48px 0 #00000059;
    border-radius: 8px;
}
#popup_creatememo > div:nth-child(1) {
	margin: 30px;
    font-weight: bold;
    font-size: 25px;
}
#popup_creatememo > textarea:nth-child(2) {
    width: 97%;
    border: none;
    height: 70%;
    font-size: 20px;
    display: block; 
    margin: 0 auto;
    outline:none;
}
#popup_creatememo > textarea:nth-child(2)::placeholder {
}
#popup_creatememo > div:nth-child(3) {
	align-items: center;
    display: flex;
    width: 100%;
    height: 58px;
    border-top: 1px solid rgba(58, 58, 58, 0.3);
	position: fixed;
   	bottom: 0;
}
#popup_creatememo > div:nth-child(3) > div {	
	width:50%;
	text-align: center;
	cursor: pointer;
}
#popup_creatememo > div:nth-child(3) > div:nth-child(1) {	/* 취소 */
	border-right: 1px solid rgba(58, 58, 58, 0.3);
    height: 50px;
   	line-height: 50px;
  	    color: rgba(58, 58, 58, 0.6);
    font-weight: bold;
    font-size: 19px;
}
#popup_creatememo > div:nth-child(3) > div:nth-child(2) {	/* 확인 */
	color: rgb(79, 140, 250);
    font-weight: bold;
    font-size: 19px;

}
#black_filter {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color: rgba(0,0,0,0.7);
	z-index: 1;
}
.line { border : 1px solid rgba(58,58,58,0.3); }
#popup_bell {
	top: 55px;
	left: 72%;
}
#popup_bell::before {
	left: 86%;
}
.fl { float : left; }
.fr { float : right; }